services:
  stg-track-my-case-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        http_proxy: ${http_proxy}
        https_proxy: ${https_proxy}
        no_proxy: ${no_proxy}
        BASE_IMAGE: ${BASE_IMAGE}
        SERVER_PORT: ${SERVER_PORT}
        JAR_FILENAME: ${JAR_FILENAME}
        JAR_FILE_PATH: ${JAR_FILE_PATH}
        AMP_URL: ${AMP_URL}
        AMP_SUBSCRIPTION_KEY: ${AMP_SUBSCRIPTION_KEY}
        DB_URL: ${DB_URL}
        DB_USERNAME: ${DB_USERNAME}
        TMC_DB_PASSWORD: ${TMC_DB_PASSWORD}
    environment:
      # these environment variables are used by java-logging library
      - ROOT_APPENDER
      - JSON_CONSOLE_PRETTY_PRINT
      - ROOT_LOGGING_LEVEL
      - REFORM_SERVICE_TYPE
      - REFORM_SERVICE_NAME
      - REFORM_TEAM
      - REFORM_ENVIRONMENT
      - LOGBACK_DATE_FORMAT
      - LOGBACK_REQUIRE_THREAD
      - LOGBACK_REQUIRE_ALERT_LEVEL=false
      - LOGBACK_REQUIRE_ERROR_CODE=false
    ports:
      - 4550:$SERVER_PORT
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${SERVER_PORT}/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s
