server:
  port: 9999
  shutdown: "graceful"

# If you use a database then uncomment the `group:, readiness: and include: "db"` lines in the health probes and uncomment the datasource section
management:
  endpoint:
    health:
      show-details: "always"
      # group:
      #  readiness:
      #   include: "db"
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus

springdoc:
  packagesToScan: uk.gov.moj.cp.controllers
  writer-with-order-by-keys: true

spring:
  config:
    import: "optional:configtree:/mnt/secrets/rpe/"
  application:
    name: Spring Boot Template
  datasource:
    url: ${TMC_DB_URL}
    username: ${TMC_DB_USERNAME}
    password: ${TMC_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  flyway:
    enabled: true
    locations: classpath:db/migration

azure:
  application-insights:
    instrumentation-key: ${rpe.AppInsightsInstrumentationKey:00000000-0000-0000-0000-000000000000}

services:
  amp-url: ${TMC_AMP_URL}
  amp-subscription-key: ${TMC_AMP_SUBSCRIPTION_KEY}

  api-cp-refdata-courthearing-courthouses:
    path: /courthouses/{court_id}/courtrooms/{court_room_id}

  api-cp-crime-schedulingandlisting-courtschedule:
    path: /case/{case_urn}/courtschedule

  refdata-courthearing-judges:
    url: https://virtserver.swaggerhub.com/HMCTS-DTS/api-cp-refdata-courthearing-judges
    version: 0.3.10

  crime-cases:
    path: /cases/{case_id}/results
    url: https://virtserver.swaggerhub.com/HMCTS-DTS/api-cp-crime-courthearing-cases
    version: 0.7.1

  users:
    authorization-header: ${TMC_SECURITY_JWT_TOKEN}
    aes-encryption-secret: ${TMC_AES_ENCRYPTION_SECRET}
    hmac-encryption-secret: ${TMC_HMAC_ENCRYPTION_SECRET}
